<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resep Makanan 2</title>
</head>
<body>
<navbar-custom></navbar-custom>
<div class="container" style="margin-top:50px">
    <div class="form-group row">
        <div class="col-md-7">
            <input type="text" class="form-control" placeholder="Cari" id="text-cariResep">
        </div>
        <div class="col-md-3">
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-submit">Cari</button>
        </div>
    </div>
</div>
</body>
</html>